.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #F5F5F5;

    padding-top: 4px;
    padding-bottom: 4px;

    @include tablet {
        padding-top: 12px;
        padding-bottom: 12px;
        }
    
    @include desktop {
            padding-top: 10px;
            padding-bottom: 6px;
        }
}

header {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background: rgba(53, 53, 53, 0.5);
        position: fixed;
        width: 100%;
        z-index: 9999;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.main-menu a {
    text-decoration: none;
    color: #F5F5F5;
}

.main-menu a:hover {
    color: #FFFFFF;
    padding-bottom: 2px;
    border-bottom: 1px solid #ffe350;
    transition-duration: 0.1s;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;

    @media screen and (max-width: 424px) {
        padding-left: 0px;
    }
}

.weather {
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    @media screen and (max-width: 388px) {
        display: none;
    }
}

.separ {

    border-left: 1px solid #616161;
        display: block;
        height: 32px;
        width: 1px;
        margin-left: 20px;
        margin-right: 20px;

    @include tablet {
        margin-left: 30px;
        margin-right: 30px;
    }
    @include desktop {
        margin-left: 30px;
        margin-right: 30px;
    }

    @media screen and (max-width: 319px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.langs {
    background-color: transparent;
    border: none;
    color: #F5F5F5;
    padding-right: 15px;
}

.lang-switch select {
-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('/img/polygon1.svg');
    background-repeat: no-repeat, repeat;
    background-position: left 20px top 50%, 0 0;
    background-size: .65em auto, 100%;
    z-index: 9999;
    
}

// buttons

.header-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

// search

.active-search {
    display: flex;
    z-index: 1000000;
    position: fixed;
}

.search-bar {
backdrop-filter: blur(100px);
    background: rgba(216, 216, 218, 0.2);
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    gap: 60px;
    justify-content: center;

    @media screen and (max-width: 600px){
        padding-top: 6px;
        padding-bottom: 6px;
        gap: 36px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.search-input {
    cursor: text;
    background: #9E9E9E;
    border-radius: 4px;
    border-color: transparent;
    min-width: 300px;
    @media screen and (max-width: 600px) {
            min-width: 200px;
        }

}

.search-input::placeholder, .search-input:focus, .search-input {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-bar label {
    display: grid;
    grid-template: 1fr / auto 1fr;
    gap: 12px;
    border-radius: 5px;
    background: #9E9E9E;
    padding-left: 20px;
    cursor: text;
    padding: 12px 20px 12px 20px;
    width: 480px;

        @media screen and (max-width: 600px) {
    padding: 8px 20px 8px 20px;
    width: 250px;
            }
}

label>input {
    outline: none;
    border: none;
    background: transparent;
}

.close-btn {
    background: transparent;
    border: none;
}
