.offers-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.see-all {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 14.6588px;
    line-height: 19px;

    letter-spacing: 0.02em;

    color: #9E9E9E;
    text-decoration: none;

    @include tablet {
        font-size: 28px;
        line-height: 36px;
    }
}

.offers {
    padding-top: 60px;
    padding-bottom: 60px;

    @include desktop {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.card img {
    width: 420px;
    height: 380px;

    @include desktop {
        width: 800px;
        height: 700px;
    }
}

.card {
    width: 420px;

    @include desktop {
        width: 800px;
    }
}

.offers-slider {
    display: grid;
    grid-template-columns: repeat(6, 420px);
    grid-gap: 10px;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;

    @include tablet {
        grid-template-columns: repeat(6, 420px);
    }

    @include desktop {
        grid-template-columns: repeat(6, 800px);
    }

}

.offers-slider::-webkit-scrollbar {
    display: none;
}

.offers-header h2 {
    margin-bottom: 20px;

    @include tablet {
        margin-bottom: 30px;
    }
}

.card-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #424242;

    margin-bottom: 10px;

    @include tablet {
        font-size: 28px;
        line-height: 36px;

    }
}

.card-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #757575;

    margin-top: 0;
    margin-bottom: 0;

    @include tablet {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}

.card-content {
    max-width: 650px;
    margin-top: 21px;
}

.review-count {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #424242;

    @include tablet {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
    }
}


.checked-star {
    fill: #FFE350;
}

.stars svg {
    width: 13px;
    height: 13px;

    @include tablet {
        width: 24px;
        height: 24px;
    }
}

.rating {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sticker {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.71px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FF703E;

    background-color: #FFFFFF;
    padding: 4px 16px;

    border: 1.5px solid #E0E0E0;
    border-radius: 10px;

    margin-top: 15px;
    margin-left: 15px;

    position: absolute;

    @include tablet {
        font-size: 20px;
        line-height: 28px;
        margin-top: 20px;
        margin-left: 20px;
        padding: 7px 32px;
    }
}

.card-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.fav, .share {
    background: rgba(255, 255, 255, 0.6);
    border: 1.5px solid #FFFFFF;
    border-radius: 50px;
    padding: 6px;
}

.card-photo {
    position: relative;
}

// news

.news-block {

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;

    @include desktop {
        display: grid;
    }
}

.news-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}

.news-item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    position: relative;
}

.news-item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    position: relative;
}


.news-decsription {
    position: absolute;
    bottom: 0;
    display: grid;

    background: rgba(14, 14, 14, 0.3);
    backdrop-filter: blur(4px);

    padding-top: 20px;
    padding-bottom: 20px;

    width: 100%;

}

.news-block h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin: 0;
    padding-left: 20px;

    @media screen and (max-width: 1919px) {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
}

.news-description-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #EDEDED;
    padding-left: 20px;

    @media screen and (max-width: 1919px) {
        display: none;
    }
}

.news-date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #C2C2C2;
    margin: 0;

    display: flex;
    align-items: center;
    gap: 15px;

    padding-left: 20px;

    @media screen and (max-width: 1919px) {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}

.news-block li {
    display: grid;
}

.news-block img {
@media screen and (max-width: 1919px) {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
}


.partners-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-left: 0;

    @media screen and (max-width: 1919px) {
        gap: 26px;
    }
    @media screen and (max-width: 999px) {
        justify-content: center;
    }
}

.partners-list img {

    @media screen and (max-width: 1919px) {
        max-width: 220px;
    }    

    @media screen and (max-width: 999px) {
        max-width: 200px;
    }
}

.partners-list li:nth-child(n+5) {
    @media screen and (max-width: 999px) {
        display: none;
    }
}

.partners-list li:nth-child(n+9) {
    @media screen and (max-width: 1919px) {
        display: none;
    }
}
