.partners-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-left: 0;
    justify-content: center;

    @media screen and (max-width: 1919px) {
        gap: 26px;
    }

    @media screen and (max-width: 999px) {
        justify-content: center;
    }
}

.partners-list img {

    @media screen and (max-width: 1919px) {
        max-width: 220px;
    }

    @media screen and (max-width: 999px) {
        max-width: 200px;
    }
}

.partners-list li:nth-child(n+5) {
    @media screen and (max-width: 999px) {
        display: none;
    }
}

.partners-list li:nth-child(n+9) {
    @media screen and (max-width: 1919px) {
        display: none;
    }
}

.partners-list li {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.partners-list li:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}