.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 480px;
    margin: 0 auto;

    @include tablet {
        max-width: 1000px;
        align-items: center;
    }

    @include desktop {
        max-width: 1920px;
    }

}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

li {
    list-style: none;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.tablet-hidden {
    @media screen and (max-width:1919px) and (min-width:1000px) {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

.mobile-hidden {
    @media screen and (max-width:999px) {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

.desktop-hidden {
    @media screen and (min-width:1920px) {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}