.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 480px;
    margin: 0 auto;

    @include tablet {
        max-width: 1200px;
        align-items: center;
    }

    @include desktop {
        max-width: 1920px;
    }

}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

li {
    list-style: none;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.tablet-hidden {
    @media screen and (max-width:1919px) and (min-width:1000px) {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

.mobile-hidden {
    @media screen and (max-width:999px) {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

.desktop-hidden {
    @media screen and (min-width:1920px) {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

button {
    cursor: pointer;
}

h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #424242;

    margin: 0;

    @include tablet {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    }
}