.transfer-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
}

.transfer-block {
    display: flex;
    align-items: flex-start;
}

.transfer-h2 {
    margin-bottom: 30px;
}

.faq-transfer {
    margin: 0;
    width: 60%;
    padding-left: 40px;
}

.faq-transfer li:first-child h4 {
    margin-top: 0;
}

.faq-transfer h4 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    /* Gray/9O */

    color: #424242;

    margin-bottom: 11px;
}

.faq-transfer p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    display: flex;
    align-items: center;

    /* Gray/7O */

    color: #757575;

    margin: 0;
}

.transfers {
    padding-bottom: 120px;
    padding-top: 60px;
}

.form-el {
    background: #FFFFFF;
    /* Shadow/2px */

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;    border: none;
    padding: 21px 20px;
    border-radius: 4px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/5O */

    color: #C2C2C2;
}

.transfer-opt .form-el {
   flex: 30%;
}

.transfer-opt {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.order-btn {
    background: rgba(233, 233, 233, 0.4);
        /* Primary/Main
    
    0055A4
    */
        border: 2px solid #FF703E;
        backdrop-filter: blur(10px);
        /* Note: backdrop-filter has minimal browser support */
    
        border-radius: 4px;
        padding: 20px 86px;
}

.form-el::placeholder {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Gray/5O */

color: #C2C2C2;

}

option[value=""][disabled] {
    display: none;
}

select {
    -webkit-appearance: menulist-button;
    color: black;
}